
<% if user_signed_in? %>
<h1>Friends</h1>

<table class="table table-striped table-bordered table-hover">
  <thead class="table-dark">
    <th>Name</th>
    <th>Email</th>
    <th>Phone</th>
    <th>Twitter</th>
  </thead>
  <tbody>
    <% @friends.each do |friend|%>
      <% next unless friend.user == current_user %>
      <tr>
        <td>
          <%= link_to friend.first_name + ' ' + friend.last_name, friend%>
        </td>
        <td><%= friend.email %></td>
        <td><%= friend.phone %></td>
        <td><%= friend.twitter %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to "New friend", new_friend_path, class:"btn btn-secondary"%>

<% else %>
  <h1>Home#index</h1>
  <p>Find me in app/views/home/index.html.erb</p>
<% end %>